@import url("https://fonts.googleapis.com/css?family=Barlow|Tomorrow:400,700&display=swap");

:root {
  --yellow-color: #fcee09; 
  --red-color: #ff003c;
  --black-color: #050a0e;
  --blue-color: #00f0ff;
}

.App {

  min-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  color: white;
  font-family: Tomorrow, sans-serif;
  background-image: url(./components/Utiles/Images/Home.png);
  background-repeat: no-repeat;
  background-attachment: fixed;


}